*{
	box-sizing: border-box;
}
/*LOGIN*/
.bg-amarillo{
	background-color: #FFDE16;
}
#logo-login{
	height: 30vh;
	margin-top:10%;
}
.logo-temporal{
	height: 60vh;
	margin-top:10%;
}
.ocultar{
	display: none !important;
}
#login{
	margin-top: 30px;
}
/*SEARHCER*/
.ui-page-theme-a .ui-panel-wrapper {
	background-color: #D7172A !important;

}
#foto-perfil{
	width: 100%;
}
#myPanel{
	background-color: #FFDE16;
}
#nombre{
	background-color: #9F7122;
	color: white;
	text-align: center;
	padding: 10px 0;
	margin-bottom: 20px;
}
.contenedor-searcher{
	width: 98%;
	margin: 0 10px;
}
.chat{
	background-color: white;
	color: black;
	padding: 10px 0;
	border-radius: 15px;
}
.chat-last{
	background-color: black;
	color: white;
	border-radius: 15px;
}
.chat i {
	font-size: 20px;
	margin: 0 20px 0 30px;
}
.bg-white{
	background-color: white;
	color: gray;
	padding: 40px 10px;
	display: inline-block;
	position: fixed;
	top: 40%;
	left: 0;
	z-index: 999;
}
input:focus{
	webkit-box-shadow: 0 0 0 transparent !important;
	box-shadow:0 0 0 transparent;
}
.display-none{
	display: none !important;
}
.poster{
	height: 400px !important;
}
